<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MotionTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26EA51661F3C747B00A50E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26EA517A1F3C747B00A50E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26EA51851F3C747B00A50E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
